
  <div class="sidepanel" id="configuration_panel">
    <div class="bar_head">
      <button class="btn_tab t_2 side_close"><i class="material-icons">close</i></button>
      <span class="title">Configuration</span>
    </div>

    <div class="ex4">
    <!--content-->
      <!--Save_load-->

      <div class="collapsible bar_head" style="height:28px">
        <div class="col_t_1 t_0" style=";padding-top: 2px; padding-bottom: 2px; width: 24px">
          <i class="material-icons t_1">arrow_right</i>
          <i class="material-icons t_1" style="display:none">arrow_drop_down</i>
        </div>
        <div class="col_t_1" style=";padding-top: 7px; padding-bottom: 7px; width: 200px">
          <span>Save / download configuration</span>
        </div>
      </div>



      <div class="collapsible_content">
            <div class="content">



              <table id ="connection_t" style="width: 100%">
                <tbody>
                  <tr>
                    <td colspan="2" class="td_label">
                      Save configuration file
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 50%">
                      <input type="text" class="number_t_2 config_path_l" style="width: -webkit-fill-available" placeholder="Config path: e.g., C:\config.yaml" >
                    </td>
                    <td style="width: 1%">
                      <button type="button" class="btn btn_t_1" id="save_config_b" >
                        Save
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td style="">Download current configuration</td>
                    <td style="">
                      <button type="button" class="btn btn_t_1" id="download_config_b">
                        Download
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
      <!--/Save_load-->
      <!--unit-->
      <div class="collapsible bar_head" style="height:28px">
        <div class="col_t_1 t_0" style=";padding-top: 2px; padding-bottom: 2px; width: 24px">
          <i class="material-icons t_1">arrow_right</i>
          <i class="material-icons t_1" style="display:none">arrow_drop_down</i>
        </div>
        <div class="col_t_1" style=";padding-top: 7px; padding-bottom: 7px; width: 200px">
          <span>Unit system</span>
        </div>
      </div>
      <div class="collapsible_content">
        <div class="content">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td style="width: 34%">
                  Length unit
                </td>
                <td>
                  <input type="radio" name="length_r" id="mm_r" value="mm" checked>
                  <label for="mm_r">Millimeter (mm)</label>
                </td>
                <td>
                  <input class="form-check-input" type="radio" name="length_r" id="in_r" value="inch">
                  <label for="in_r">
                    Inch (in)
                  </label>
                </td>
              </tr>
              <tr>
                <td colspan="3" align="right">
                  <button type="button" class="btn btn_t_1 config_cancel_b">
                    Cancel
                  </button>
                  <button type="button" class="btn btn_t_1" id="unit_b">
                    Apply
                  </button>
                </td>
              </tr>

              <!--
              <tr>
                <td colspan="2" class="td_label">
                  Unit of length:
                </td>
              </tr>
              <tr>
                <td style="width: 50%;">
                  <input type="radio" name="length_r" id="mm_r" value="mm" checked>
                  <label for="mm_r">Millimeter (mm)</label>
                </td>
                <td style="width: 50%;">
                  <input class="form-check-input" type="radio" name="length_r" id="in_r" value="inch">
                  <label for="in_r">
                    Inch (in)
                  </label>
                </td>
              </tr>

              <tr class="top">
                <td style=>
                  <button type="button" class="btn btn_t_1" id="unit_b">
                    Apply
                  </button>
                </td>
              </tr>
              -->
            </tbody>
          </table>
        </div>
      </div>


      <!--Toolhead-->
      <div class="collapsible bar_head" style="height:28px">
        <div class="col_t_1 t_0" style=";padding-top: 2px; padding-bottom: 2px; width: 24px">
          <i class="material-icons t_1">arrow_right</i>
          <i class="material-icons t_1" style="display:none">arrow_drop_down</i>
        </div>
        <div class="col_t_1" style=";padding-top: 7px; padding-bottom: 7px; width: 200px">
          <span>Toolhead</span>
        </div>
      </div>
      <div class="collapsible_content">
        <div class="content">
          <table style="width: 100%">
            <tbody>
              <!--
              <tr>
                <td colspan="2" class="td_label">
                  Length of the toolhead
                </td>
              </tr>
              -->
              <tr>
                <td style="width: 34%;">
                  X - <span class="unit_length" style="vertical-align: baseline">unit</span>
                </td>
                <td style="width: 33%">
                  <input  type="number" class="toolhead x number_t_1" step="0.001" min="0" max="10000" value="" name="tool_head_length_x" style="width: 76px;">
                </td>
                <td style="width: 33%">
                </td>
              </tr>
              <tr>
                <td colspan="3" align="right">
                  <button type="button" class="btn btn_t_1 config_cancel_b">
                    Cancel
                  </button>
                  <button type="button" class="btn btn_t_1" id="toolhead_b">
                    Apply
                  </button>
                </td>
              </tr>
              <!--
              <tr>
                <td style="">
                  <button type="button" class="btn btn_t_1" id="toolhead_b">
                    Apply
                  </button>
                </td>
              </tr>
              -->
            </tbody>
          </table>
        </div>
        <!--
        <form id="unit_f">
          <p>
            To establish a connection, first select the robot USB port, and then click Connect.
          </p>
          <div class="top_label">Toolhead length</div>
          <input  type="number" class="toolhead x number_t_1" step="0.001" min="0" max="10000" value="">
          <label for="inputEmail4"><small style="margin-left: 5px;">x - <span class="unit_length">unit</span></small></label>
          <div style="width: 100%; height: var(--height_b); margin-top: var(--margin_l)">
            <button type="button" class="btn btn_t_1" id="toolhead_b">
              Apply
            </button>
          </div>
        </form>
        -->
      </div>

      <!--Limits-->
      <div class="collapsible bar_head" style="height:28px">
        <div class="col_t_1 t_0" style=";padding-top: 2px; padding-bottom: 2px; width: 24px">
          <i class="material-icons t_1">arrow_right</i>
          <i class="material-icons t_1" style="display:none">arrow_drop_down</i>
        </div>
        <div class="col_t_1" style=";padding-top: 7px; padding-bottom: 7px; width: 200px">
          <span>Joints limit</span>
        </div>
      </div>

      <div class="collapsible_content">
        <div class="content">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td style="width: 34%;"></td>
                <td style="width: 33%;">Lower limit (min)</td>
                <td style="width: 33%;">Upper limit (max)</td>
              </tr>
            </tbody>
            {% for i in range(3) %}
              <tr>
                <td>J<sub>{{i}}</sub> - deg</td>
                <td style="">
                  <input  type="number" class="number_t_1 limit j{{i}} 0" step="0.001" min="-175" max="175" value="" style="width: 76px;">
                </td>
                <td>
                  <input  type="number" class="number_t_1 limit j{{i}} 1" step="0.001" min="-175" max="175" value="" style="width: 76px;">
                </td>
            {% endfor %}
            <tr>
              <td colspan="3" align="right">
                <button type="button" class="btn btn_t_1 config_cancel_b">
                  Cancel
                </button>
                <button type="button" class="btn btn_t_1" id="limit_b">
                  Apply
                </button>
              </td>
            </tr>
          </table>
        </div>
        <!--
        <form id="unit_f">
          <div class="row">
            <div class="column">
              <div class="top_label">Lower limit (min)</div>
              <div>
                <input  type="number" class="number_t_1 limit j0 0" step="0.001" min="-175" max="175" value="">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>0</sub> - deg</small></label>
              </div>
              <div>
                <input  type="number" class="number_t_1 limit j1 0" step="0.001" min="-175" max="175" value="">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>1</sub> - deg</small></label>
              </div>
              <div>
                <input  type="number" class="number_t_1 limit j2 0" step="0.001" min="-175" max="175" value="">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>2</sub> - deg</small></label>
              </div>
            </div>
            <div class="column">
              <div class="top_label">Upper limit (max)</div>
              <div>
                <input  type="number" class="number_t_1 limit j0 1" step="0.001" min="-175" max="175" value="">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>0</sub> - deg</small></label>
              </div>
              <div>
                <input  type="number" class="number_t_1 limit j1 1" step="0.001" min="-175" max="175" value="">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>1</sub> - deg</small></label>
              </div>
              <div>
                <input  type="number" class="number_t_1 limit j2 1" step="0.001" min="-175" max="175" value="">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>2</sub> - deg</small></label>
              </div>
            </div>
          </div>
          <div style="width: 100%; height: var(--height_b); margin-top: var(--margin_l)">
            <button type="button" class="btn btn_t_1" id="limit_b">
              Apply
            </button>
          </div>
        </form>
        -->
      </div>


      <!--default speed-->
      <div class="collapsible bar_head" style="height:28px">
        <div class="col_t_1 t_0" style=";padding-top: 2px; padding-bottom: 2px; width: 24px">
          <i class="material-icons t_1">arrow_right</i>
          <i class="material-icons t_1" style="display:none">arrow_drop_down</i>
        </div>
        <div class="col_t_1" style=";padding-top: 7px; padding-bottom: 7px; width: 200px">
          <span>Default speed</span>
        </div>
      </div>
      <div class="collapsible_content">
        <div class="content">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td style="width: 34%;">
                  Joint - deg/min
                </td>
                <td style="width: 33%">
                  <input  type="number" class="default_speed joint 0 number_t_1" step="1" min="1" max="10000" value="10" style="width:76px">
                </td>
                <td style="width: 33%">
                </td>
              </tr>
              <tr>
                <td style="width: 34%;">
                  XYZ - <span class="unit_length" style="vertical-align: baseline">unit</span>/min
                </td>
                <td style="width: 33%">
                  <input  type="number" class="small default_speed xyz 0 number_t_1" step="1" min="1" max="10000" value="10" style="width:76px">
                </td>
                <td style="width: 33%">
                </td>
              </tr>
              <tr>
                <td colspan="3" align="right">
                  <button type="button" class="btn btn_t_1 config_cancel_b">
                    Cancel
                  </button>
                  <button type="button" class="btn btn_t_1" id="default_speed_b">
                    Apply
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--
        <form id="unit_f">
          <p>
            To establish a connection, first select the robot USB port, and then click Connect.
          </p>
          <div class="row">
            <div class="column">
              <div class="top_label">Joint</div>
              <input  type="number" class="default_speed joint 0 number_t_1" step="1" min="1" max="10000" value="10">
              <label for="inputEmail4"><small style="margin-left: 5px;">deg/min</small></label>
            </div>
            <div class="column">
              <div class="top_label">XYZ</div>
              <input  type="number" class="small default_speed xyz 0 number_t_1" step="1" min="1" max="10000" value="10">
              <label for="inputEmail4"><small style="margin-left: 5px;"><span class="unit_length">unit</span>/min</small></label>
            </div>
          </div>
          <div style="width: 100%; height: var(--height_b); margin-top: var(--margin_l)">
            <button type="button" class="btn btn_t_1" id="default_speed_b">
              Apply
            </button>
          </div>
        </form>
        -->
      </div>

      <!--default jerk-->
      <div class="collapsible bar_head" style="height:28px">
        <div class="col_t_1 t_0" style=";padding-top: 2px; padding-bottom: 2px; width: 24px">
          <i class="material-icons t_1">arrow_right</i>
          <i class="material-icons t_1" style="display:none">arrow_drop_down</i>
        </div>
        <div class="col_t_1" style=";padding-top: 7px; padding-bottom: 7px; width: 200px">
          <span>Default jerk</span>
        </div>
      </div>

      <div class="collapsible_content">
        <div class="content">
          <table style="width: 100%">
            <tbody>
              {% for i in range(5) %}
              <tr>
                <td style="width: 34%;">
                  J<sub>{{i}}</sub> - deg/min<sup>3</sup>
                </td>
                <td style="width: 33%">
                  <input  type="number" class="small default_jerk joint {{i}} number_t_1" step="1" min="1" max="10000" value="10" style="width:76px">
                </td>
                <td style="width: 33%">
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="hr"></div>
          <table style="width: 100%">
            <tbody>
              {% for val in ["X", "Y", "Z", "A", "B"]%}
              <tr>
                <td style="width: 34%;">
                  {{val}} - <span class="unit_length" style="vertical-align: baseline">unit</span>/min<sup>3</sup>
                </td>
                <td style="width: 33%">
                  <input  type="number" class="small default_jerk xyz {{loop.index -1 }} number_t_1" step="1" min="1" max="10000" value="10" style="width:76px">
                </td>
                <td style="width: 33%">
                </td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan="3" align="right">
                  <button type="button" class="btn btn_t_1 config_cancel_b">
                    Cancel
                  </button>
                  <button type="button" class="btn btn_t_1" id="default_jerk_b">
                    Apply
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--
        <form id="unit_f">
          <p>
            To establish a connection, first select the robot USB port, and then click Connect.
          </p>
          <div class="row">
            <div class="column">
              <div class="top_label">Joint</div>
              <div>
                <input  type="number" class="small default_jerk joint 0 number_t_1" step="1" min="1" max="10000" value="10">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>0</sub> - deg/min<sup>3</sup></small></label>
              </div>
              <div>
                <input  type="number" class="small default_jerk joint 1 number_t_1" step="1" min="1" max="10000" value="10">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>1</sub> - deg/min<sup>3</sup></small></label>
              </div>
              <div>
                <input  type="number" class="small default_jerk joint 2 number_t_1" step="1" min="1" max="10000" value="10">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>2</sub> - deg/min<sup>3</sup></small></label>
              </div>
              <div>
                <input  type="number" class="small default_jerk joint 3 number_t_1" step="1" min="1" max="10000" value="10">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>3</sub> - deg/min<sup>3</sup></small></label>
              </div>
              <div>
                <input  type="number" class="small default_jerk joint 4 number_t_1" step="1" min="1" max="10000" value="10">
                <label for="inputEmail4"><small style="margin-left: 5px;">J<sub>4</sub> - deg/min<sup>3</sup></small></label>
              </div>
            </div>
            <div class="column">
              <div class="top_label">XYZ</div>
              <div>
                <input  type="number" class="small default_jerk xyz 0 number_t_1" step="1" min="1" max="10000" value="10">
                <label for="inputEmail4"><small style="margin-left: 5px;">X - <span class="unit_length">unit</span>/min<sup>3</sup></label></small>
              </div>
              <div>
                <input  type="number" class="small default_jerk xyz 1 number_t_1" step="1" min="1" max="10000" value="10">
                <label for="inputEmail4"><small style="margin-left: 5px;">Y - <span class="unit_length">unit</span>/min<sup>3</sup></label></small>
              </div>
              <div>
                <input  type="number" class="small default_jerk xyz 2 number_t_1" step="1" min="1" max="10000" value="10">
                <label for="inputEmail4"><small style="margin-left: 5px;">Z - <span class="unit_length">unit</span>/min<sup>3</sup></label></small>
              </div>
              <div>
                <input  type="number" class="small default_jerk xyz 3 number_t_1" step="1" min="1" max="10000" value="10">
                <label for="inputEmail4"><small style="margin-left: 5px;">A - deg/min<sup>3</sup></small></label>
              </div>
              <div>
                <input  type="number" class="small default_jerk xyz 4 number_t_1" step="1" min="1" max="10000" value="10">
                <label for="inputEmail4"><small style="margin-left: 5px;">B - deg/min<sup>3</sup></small></label>
              </div>
            </div>
          </div>
          <div style="width: 100%; height: var(--height_b); margin-top: var(--margin_l)">
            <button type="button" class="btn btn_t_1" id="default_jerk_b">
              Apply
            </button>
          </div>
        </form>
        -->
      </div>

      <!--Motion parameters-->
      <div class="collapsible bar_head" style="height:28px">
        <div class="col_t_1 t_0" style=";padding-top: 2px; padding-bottom: 2px; width: 24px">
          <i class="material-icons t_1">arrow_right</i>
          <i class="material-icons t_1" style="display:none">arrow_drop_down</i>
        </div>
        <div class="col_t_1" style=";padding-top: 7px; padding-bottom: 7px; width: 200px">
          <span>Motion parameters</span>
        </div>
      </div>
      <div class="collapsible_content">
        <div class="content">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td style="width: 67%;">
                  Junction integration time (jt)
                </td>
                <td style="width: 33%">
                  <input  type="number" class="number_t_1 motion jt" step="0.01" min="0.01" max="5" value="" style="width:76px">
                </td>
              </tr>
              <tr>
                <td style="">
                  Path control mode (gpa)
                </td>
                <td style="">
                  <select class="motion gpa select select_t_2" type="number" style="width: 80px;">
                    <option value=0 selected>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td style="">
                  Chordal tolerance (ct)
                </td>
                <td style="">
                  <input  type="number" class="number_t_1 motion ct" step="0.001" min="0.001" max="5" value="" style="width:76px">
                </td>
              </tr>
              <tr>
                <td colspan="2" align="right">
                  <button type="button" class="btn btn_t_1 config_cancel_b">
                    Cancel
                  </button>
                  <button type="button" class="btn btn_t_1" id="motion_b">
                    Apply
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <!--
        <form id="unit_f">
          <p>
            To establish a connection, first select the robot USB port, and then click Connect.
          </p>
          <div>
            <div class="top_label">Junction integration time (jt)</div>
            <input  type="number" class="number_t_1 motion jt" step="0.01" min="0.01" max="5" value="">
          </div>
          <div>
            <div class="top_label">Path control mode (gpa)</div>
            <select class="motion gpa select select_t_2" type="number">
              <option value=0 selected>0</option>
              <option value=1>1</option>
              <option value=2>2</option>
            </select>
          </div>
          <div>
            <div class="top_label">Chordal tolerance (ct)</div>
            <input  type="number" class="number_t_1 motion ct" step="0.001" min="0.001" max="5" value="">
          </div>
          <div style="width: 100%; height: var(--height_b); margin-top: var(--margin_l)">
            <button type="button" class="btn btn_t_1" id="motion_b">
              Apply
            </button>
          </div>
        </form>
        -->
      </div>


    <!--/content-->
    </div>
    <!--
    <div class="bar_foot" style="width: inherit;">
      <div class="" style="padding: 0px 2px">
        <table style="width: 100%; border-collapse:collapse">
          <tbody style="height: 28px">
            <tr class="">
              <td tyle="" align="right">
                <button type="button" class="btn btn_t_1" id="config_cancel_b">
                  Cancel
                </button>
              </td>
              <td style="width: 1%;padding-left: 2px;">
                <button type="button" class="btn btn_t_1" id="zzz">
                  Apply
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    -->
  </div>
