<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
-->
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
-->
<!--
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
-->

<!-- The Viewer JS
<script src="https://developer.api.autodesk.com/derivativeservice/v2/viewers/three.min.js"></script>

<script src="https://developer.api.autodesk.com/derivativeservice/v2/viewers/viewer3D.min.js?v=3.1.2"></script>
-->

<!-- socket io 
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{url_for('static', filename='plugin/js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='plugin/js/socket_io.js')}}"></script>
<script src="{{url_for('static', filename='plugin/js/codemirror.js')}}"></script>
<script src="{{url_for('static', filename='plugin/js/javascript.js')}}"></script>
<script src="{{url_for('static', filename='plugin/js/python.js')}}"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{url_for('static', filename='assets/js/jquery.serializeToJSON.js')}}"></script>
<!--three-->
<script src="{{url_for('static', filename='three/build/three.js')}}"></script>
<script src="{{url_for('static', filename='three/js/libs/tween.min.js')}}"></script>
<script src="{{url_for('static', filename='three/js/loaders/ColladaLoader.js')}}"></script>
<script src="{{url_for('static', filename='three/js/controls/OrbitControls.js')}}"></script>
<script src="{{url_for('static', filename='three/js/WebGL.js')}}"></script>
<script src="{{url_for('static', filename='three/js/libs/stats.min.js')}}"></script>
<script src="{{url_for('static', filename='three/js/libs/dat.gui.min.js')}}"></script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{url_for('static', filename='js/connection.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script src="{{url_for('static', filename='js/io.js')}}"></script>
<script src="{{url_for('static', filename='js/jog.js')}}"></script>
<script src="{{url_for('static', filename='js/home.js')}}"></script>
<script src="{{url_for('static', filename='js/side.js')}}"></script>
<script src="{{url_for('static', filename='js/config.js')}}"></script>
<script src="{{url_for('static', filename='js/update.js')}}"></script>
<script src="{{url_for('static', filename='js/log.js')}}"></script>
<script src="{{url_for('static', filename='js/animation.js')}}"></script>
<!--<script src="{{url_for('static', filename='js/auxiliary.js')}}"></script>-->
<script src="{{url_for('static', filename='js/drag.js')}}"></script>
<script src="{{url_for('static', filename='js/control_panel.js')}}"></script>
<script src="{{url_for('static', filename='js/full_screen.js')}}"></script>
<script src="{{url_for('static', filename='js/position.js')}}"></script>
<script src="{{url_for('static', filename='js/communication.js')}}"></script>
<script src="{{url_for('static', filename='js/note.js')}}"></script>
