<div class="content">
  <!--
  <table id ="info_t" style="width: 100%">
    <tbody>
      <tr>
        <td style="width: 100%;font-size: 20px;color:white; background-color:red;text-align:center; border-radius: 5px">Robot Disconnected</td>
      </tr>
      <tr>
        <td style="width: 100%;font-size: 20px;color:white; background-color:blue;text-align:center; border-radius: 5px">Robot Connected</td>
      </tr>
    </tbody>
  </table>
  -->
  <table id ="info_t" style="width: 100%; font-size: var(--font_size_s)">
    <tbody>
      <tr style="text-align:center">
        {% for i in range(5) %}
          <td style="width: 20%; background-color: rgba(255, 255, 255, 0.5);"><div class="unit">j{{i}} - deg</div><span class="j{{ i }}_t">0</span></td>
        {% endfor %}
      </tr>
      <tr style="text-align:center">
        <td style="width: 20%; background-color: rgba(255, 255, 255, 0.5);"><div class="unit">j0 - deg</div>888.888</td>
        <td style="width: 20%; background-color: rgba(255, 255, 255, 0.5);"><div class="unit">j0 - deg</div>888.888</td>
        <td style="width: 20%; background-color: rgba(255, 255, 255, 0.5);"><div class="unit">j0 - deg</div>888.888</td>
        <td style="width: 20%; background-color: rgba(255, 255, 255, 0.5);"><div class="unit">j0 - deg</div>888.888</td>
        <td style="width: 20%; background-color: rgba(255, 255, 255, 0.5);"><div class="unit">j0 - deg</div>888.888</td>
      </tr>
    </tbody>
  </table>
</div>
