<div class="bar_head">
<span>
  <table style="width: 100%; border-collapse: collapse;">
    <tbody>
      <tr>
        <td style="200px">
          <div style="padding-left: var(--padding_l)">
            <input type="checkbox" class="custom-control-input " id="log_print">
            <label class="custom-control-label" for="log_print">Enable log</label>
          </div>
        </td>
        <td style=""><button class="btn_tab t_2 log_close"><i class="material-icons">close</i></button></td>
      </tr>
    </tbody>
  </table>
</span>
<!--
<button class="btn_tab t_2 log_close"><i class="material-icons">close</i></button>
</div>
    <div id="myDropdown" class="dropdown-content">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>
<div class="card_log" >
-->
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
  console.log(document.getElementById("myDropdown"))
}

// Close the dropdown if the user clicks outside of it

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
  <div class="ex3">
      <textarea class="log_editor" id="inner_remaining"></textarea>
  </div>
</div>
