<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no" />
    <meta charset="utf-8">

    <!-- The Viewer JS -->
    <script src="https://developer.api.autodesk.com/derivativeservice/v2/viewers/three.min.js"></script>
    
    <script src="https://developer.api.autodesk.com/derivativeservice/v2/viewers/viewer3D.min.js?v=3.1.2"></script>
    
    <!--
    <script src="static/assets/js/viewer3D.js"></script>
    -->


    
    <script src="static/assets/js/dat.gui.js"></script>
    
    
    <link rel="stylesheet" href="https://developer.api.autodesk.com/derivativeservice/v2/viewers/style.css?v=3.1.1" type="text/css">
    

    
    <script src="static/assets/js/auxiliary.js"></script>
    <script src="static/assets/js/timeliner.js"></script>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>



    <!-- Developer CSS -->
    
    <link rel="stylesheet" href="static/assets/css/my_style.css" type="text/css">
    <link rel="stylesheet" href="static/assets/css/light_dat.css" type="text/css">

    <style>
        #MyControls {
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 1;
            /* padding: 1em; */
            /* font-size: 1em; */
            /* cursor: pointer; */
            /* box-shadow: 5px 5px 5px #888888; */
            /* border: 1px solid gray; */
            /* border-radius: 5px; */
        }
    </style>


</head>

<body>

    <!-- The Viewer will be instantiated here -->
    <div id="MyViewerDiv"></div>
    
    <!--method-->
    <div id = "MyControls">
        <form action="" method="POST" id ="method">
            <textarea class="data" name="message" rows="4" cols="30"></textarea>
            <br>
            <input type="submit" value="send"/>
        </form> 
    </div>

    <div id="MyControls" class="adsk control">
        <!-- <input type="range">Main Axis</input> -->
    </div>




    <script>

        // frame object
        var frame = {
                "fps": 60,
                "delay": 0.5,
                "busy": false,
                "frames" : [],
                "last" : null,
        }

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        var viewerApp;
        let viewer = null;
        let tree = null;
        var options = {
            env: 'AutodeskProduction',
            getAccessToken: function (onGetAccessToken) {
                var token_fetcher = 'https://9irt90dm6j.execute-api.us-east-1.amazonaws.com/prod'
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", token_fetcher, false);
                xmlHttp.send(null);
                var data = JSON.parse(xmlHttp.responseText);

                var accessToken = data["access_token"]
                var expireTimeSeconds = data["expires_in"];
                onGetAccessToken(accessToken, expireTimeSeconds);
            }

        };
        var documentId = 'urn:dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6ZXhwZXJpbWVudF9yZXBvLzAxRHVtbXkuZjNk';
        Autodesk.Viewing.Initializer(options, function onInitialized() {
            viewerApp = new Autodesk.Viewing.ViewingApplication('MyViewerDiv');
            viewerApp.registerViewer(viewerApp.k3D, Autodesk.Viewing.Private.GuiViewer3D);
            viewerApp.loadDocument(documentId, onDocumentLoadSuccess, onDocumentLoadFailure);
            viewer = viewerApp.getCurrentViewer();
            //viewer.viewCubeUi.showTriad(true)
        });

        function onDocumentLoadSuccess(doc) {

            // We could still make use of Document.getSubItemsWithProperties()
            // However, when using a ViewingApplication, we have access to the **bubble** attribute,
            // which references the root node of a graph that wraps each object from the Manifest JSON.
            var viewables = viewerApp.bubble.search({ 'type': 'geometry' });
            if (viewables.length === 0) {
                console.error('Document contains no viewables.');
                return;
            }

            // Choose any of the avialble viewables
            viewerApp.selectItem(viewables[0].data, onItemLoadSuccess, onItemLoadFail);


        }

        function onDocumentLoadFailure(viewerErrorCode) {
            console.error('onDocumentLoadFailure() - errorCode:' + viewerErrorCode);
        }

        function onItemLoadSuccess(reported_viewer, item) {

            viewer = reported_viewer;
            viewer.addEventListener(Autodesk.Viewing.OBJECT_TREE_CREATED_EVENT, setupMyModel);
        }

        function onItemLoadFail(errorCode) {
            console.error('onItemLoadFail() - errorCode:' + errorCode);
        }



        function setupMyModel() {
        
            //setup_socket()


            /*============================ MY ATTEMPTS =======================*/

            // let camera = viewer.getCamera();
            // if (!camera.isPerspective) {
            //     camera.toPerspective();
            // }
            tree = viewer.model.getData().instanceTree;

                
            let ID_BaseRod = findNodeIdbyName('BaseRod');
            let ID_LowerArmBody = findNodeIdbyName("LowerArmBody");
            let ID_LowerRodBody = findNodeIdbyName('LowerRodBody');
            let ID_MiddleArmBody = findNodeIdbyName('MiddleArmBody');
            let ID_UpperRodBody = findNodeIdbyName('UpperRodBody');
            let ID_UpperArmBody = findNodeIdbyName('UpperArmBody');
            let ID_HookBody = findNodeIdbyName('HookBody');



            /* ====================== MainAxis ================= */
            let Pivot_BaseRod = new THREE.Mesh(new THREE.BoxGeometry(5, 5, 5), new THREE.MeshBasicMaterial({ color: 0xff0000 }));
            let Position_BaseRod = getFragmentWorldMatrixByNodeId(ID_BaseRod).matrix[0].getPosition().clone();
            Pivot_BaseRod.position.x = Position_BaseRod.x;
            Pivot_BaseRod.position.y = Position_BaseRod.y;
            Pivot_BaseRod.position.z = Position_BaseRod.z;
            viewer.impl.scene.add(Pivot_BaseRod);

            let Helper_LowerArmBody = new THREE.Mesh();
            let Position_LowerArmBody = getFragmentWorldMatrixByNodeId(ID_LowerArmBody).matrix[0].getPosition().clone();
            Helper_LowerArmBody.position.x = - Position_LowerArmBody.x + Math.abs(Position_LowerArmBody.x - Pivot_BaseRod.position.x);
            Helper_LowerArmBody.position.y = - Position_LowerArmBody.y + Math.abs(Position_LowerArmBody.y - Pivot_BaseRod.position.y);
            Helper_LowerArmBody.position.z = - Position_LowerArmBody.z + Math.abs(Position_LowerArmBody.z - Pivot_BaseRod.position.z);
            Pivot_BaseRod.add(Helper_LowerArmBody);


            // /* ====================== SecondAxis ================= */


            let Pivot_LowerRodBody = new THREE.Mesh();
            let Position_LowerRodBody = getFragmentWorldMatrixByNodeId(ID_LowerRodBody).matrix[0].getPosition().clone();

            Pivot_LowerRodBody.position.x = Position_LowerRodBody.x - Pivot_BaseRod.position.x;
            Pivot_LowerRodBody.position.y = Position_LowerRodBody.y - Pivot_BaseRod.position.y;
            Pivot_LowerRodBody.position.z = Position_LowerRodBody.z - Pivot_BaseRod.position.z;
            Pivot_BaseRod.add(Pivot_LowerRodBody);

            let Helper_LowerRodBody = new THREE.Mesh();
            Helper_LowerRodBody.position.x = - Position_LowerRodBody.x + Math.abs(Position_LowerRodBody.x - Pivot_LowerRodBody.position.x - Pivot_BaseRod.position.x);
            Helper_LowerRodBody.position.y = - Position_LowerRodBody.y + Math.abs(Position_LowerRodBody.y - Pivot_LowerRodBody.position.y - Pivot_BaseRod.position.y);
            Helper_LowerRodBody.position.z = - Position_LowerRodBody.z + Math.abs(Position_LowerRodBody.z - Pivot_LowerRodBody.position.z - Pivot_BaseRod.position.z);
            Pivot_LowerRodBody.add(Helper_LowerRodBody);


            let Helper_MiddleArmBody = new THREE.Mesh();
            let Position_MiddleArmBody = getFragmentWorldMatrixByNodeId(ID_MiddleArmBody).matrix[0].getPosition().clone();
            Helper_MiddleArmBody.position.x = - Position_MiddleArmBody.x + Math.abs(Position_MiddleArmBody.x - Pivot_LowerRodBody.position.x - Pivot_BaseRod.position.x);
            Helper_MiddleArmBody.position.y = - Position_MiddleArmBody.y + Math.abs(Position_MiddleArmBody.y - Pivot_LowerRodBody.position.y - Pivot_BaseRod.position.y);
            Helper_MiddleArmBody.position.z = - Position_MiddleArmBody.z + Math.abs(Position_MiddleArmBody.z - Pivot_LowerRodBody.position.z - Pivot_BaseRod.position.z);
            Pivot_LowerRodBody.add(Helper_MiddleArmBody);



            let Pivot_UpperRodBody = new THREE.Mesh();
            let Position_UpperRodBody = getFragmentWorldMatrixByNodeId(ID_UpperRodBody).matrix[0].getPosition().clone();

            Pivot_UpperRodBody.position.x = Position_UpperRodBody.x - Pivot_LowerRodBody.position.x - Pivot_BaseRod.position.x;
            Pivot_UpperRodBody.position.y = Position_UpperRodBody.y - Pivot_LowerRodBody.position.y - Pivot_BaseRod.position.y;
            Pivot_UpperRodBody.position.z = Position_UpperRodBody.z - Pivot_LowerRodBody.position.z - Pivot_BaseRod.position.z;
            Pivot_LowerRodBody.add(Pivot_UpperRodBody);


            let Helper_UpperRodBody = new THREE.Mesh();

            Helper_UpperRodBody.position.x = - Position_UpperRodBody.x + Math.abs(Position_UpperRodBody.x - Pivot_UpperRodBody.position.x - Pivot_LowerRodBody.position.x - Pivot_BaseRod.position.x);
            Helper_UpperRodBody.position.y = - Position_UpperRodBody.y + Math.abs(Position_UpperRodBody.y - Pivot_UpperRodBody.position.y - Pivot_LowerRodBody.position.y - Pivot_BaseRod.position.y);
            Helper_UpperRodBody.position.z = - Position_UpperRodBody.z + Math.abs(Position_UpperRodBody.z - Pivot_UpperRodBody.position.z - Pivot_LowerRodBody.position.z - Pivot_BaseRod.position.z);
            Pivot_UpperRodBody.add(Helper_UpperRodBody);


            let Helper_UpperArmBody = new THREE.Mesh();
            let Position_UpperArmBody = getFragmentWorldMatrixByNodeId(ID_UpperArmBody).matrix[0].getPosition().clone();

            Helper_UpperArmBody.position.x = - Position_UpperArmBody.x + Math.abs(Position_UpperArmBody.x - Pivot_UpperRodBody.position.x - Pivot_LowerRodBody.position.x - Pivot_BaseRod.position.x);
            Helper_UpperArmBody.position.y = - Position_UpperArmBody.y + Math.abs(Position_UpperArmBody.y - Pivot_UpperRodBody.position.y - Pivot_LowerRodBody.position.y - Pivot_BaseRod.position.y) - 0.7;
            Helper_UpperArmBody.position.z = - Position_UpperArmBody.z + Math.abs(Position_UpperArmBody.z - Pivot_UpperRodBody.position.z - Pivot_LowerRodBody.position.z - Pivot_BaseRod.position.z) - 1;
            Pivot_UpperRodBody.add(Helper_UpperArmBody);



            let Pivot_HookBody = new THREE.Mesh();
            let Position_HookBody = getFragmentWorldMatrixByNodeId(ID_HookBody).matrix[0].getPosition().clone();

            Pivot_HookBody.position.x = Position_HookBody.x - Pivot_UpperRodBody.position.x - Pivot_LowerRodBody.position.x - Pivot_BaseRod.position.x;
            Pivot_HookBody.position.y = Position_HookBody.y - Pivot_UpperRodBody.position.y - Pivot_LowerRodBody.position.y - Pivot_BaseRod.position.y + 1.3;
            Pivot_HookBody.position.z = Position_HookBody.z - Pivot_UpperRodBody.position.z - Pivot_LowerRodBody.position.z - Pivot_BaseRod.position.z;
            Pivot_UpperRodBody.add(Pivot_HookBody);


            let Helper_HookBody = new THREE.Mesh();
            Helper_HookBody.position.x = - Position_HookBody.x + Math.abs(Position_HookBody.x - Pivot_HookBody.position.x - Pivot_UpperRodBody.position.x - Pivot_LowerRodBody.position.x - Pivot_BaseRod.position.x);
            Helper_HookBody.position.y = - Position_HookBody.y + Math.abs(Position_HookBody.y - Pivot_HookBody.position.y - Pivot_UpperRodBody.position.y - Pivot_LowerRodBody.position.y - Pivot_BaseRod.position.y) -2.6;
            Helper_HookBody.position.z = - Position_HookBody.z + Math.abs(Position_HookBody.z - Pivot_HookBody.position.z - Pivot_UpperRodBody.position.z - Pivot_LowerRodBody.position.z - Pivot_BaseRod.position.z);
            Pivot_HookBody.add(Helper_HookBody);



            assignTransformations(Helper_LowerArmBody, ID_LowerArmBody);
            assignTransformations(Helper_LowerRodBody, ID_LowerRodBody);
            assignTransformations(Helper_MiddleArmBody, ID_MiddleArmBody);
            assignTransformations(Helper_UpperRodBody, ID_UpperRodBody);
            assignTransformations(Helper_UpperArmBody, ID_UpperArmBody);
            assignTransformations(Helper_HookBody, ID_HookBody);




            let gui = new dat.GUI({ autoPlace: false });
            document.getElementById("MyControls").append(gui.domElement);

            let third_ring_rotation = 0;
            let box_control = null;

            let MainAxis = null;
            let SecondAxis = null;
            let ThirdAxis = null;;
            let FourthAxis = null;
            let connect = null;
            let rotate = null;

            let GiroController = function () {
                this.MainAxis = 0;
                this.SecondAxis = 0;
                this.ThirdAxis = 0;
                this.FourthAxis = 0;

                
                this.connect = function () {
                    socket.emit("method",{
                        method: "connect",
                        prm: {
                            port_name: ""
                        }
                    }) 
                }

                this.rotate = function () {
                    //
                    print_func()
                } 

            }


            box_control = new GiroController();
            MainAxis = gui.add(box_control, 'MainAxis', -180, 180);
            SecondAxis = gui.add(box_control, 'SecondAxis', -180, 180);
            ThirdAxis = gui.add(box_control, 'ThirdAxis', -180, 180);
            FourthAxis = gui.add(box_control, 'FourthAxis', -180, 180);
            connect = gui.add(box_control, 'connect');
            rotate = gui.add(box_control, 'rotate');

            MainAxis.onChange(function (value) {
                Pivot_BaseRod.rotation.y = value * Math.PI / 180;
                assignTransformations(Helper_LowerArmBody, ID_LowerArmBody);
                assignTransformations(Helper_LowerRodBody, ID_LowerRodBody);
                assignTransformations(Helper_MiddleArmBody, ID_MiddleArmBody);
                assignTransformations(Helper_UpperRodBody, ID_UpperRodBody);
                assignTransformations(Helper_UpperArmBody, ID_UpperArmBody);
                assignTransformations(Helper_HookBody, ID_HookBody);

                viewer.impl.sceneUpdated(true);
            });

            SecondAxis.onChange(function (value) {
                Pivot_LowerRodBody.rotation.z = value * Math.PI / 180;
                // assignTransformations(Helper_LowerArmBody, ID_LowerArmBody);
                // assignTransformations(Pivot_LowerRodBody, ID_LowerRodBody);
                assignTransformations(Helper_MiddleArmBody, ID_MiddleArmBody);
                assignTransformations(Helper_UpperRodBody, ID_UpperRodBody);
                assignTransformations(Helper_UpperArmBody, ID_UpperArmBody);
                assignTransformations(Helper_HookBody, ID_HookBody);

                viewer.impl.sceneUpdated(true);
            });

            ThirdAxis.onChange(function (value) {
                Pivot_UpperRodBody.rotation.z = value * Math.PI / 180;
                // assignTransformations(Helper_LowerArmBody, ID_LowerArmBody);
                // assignTransformations(Pivot_LowerRodBody, ID_LowerRodBody);
                assignTransformations(Helper_UpperRodBody, ID_UpperRodBody);
                assignTransformations(Helper_UpperArmBody, ID_UpperArmBody);
                assignTransformations(Helper_HookBody, ID_HookBody);

                viewer.impl.sceneUpdated(true);
            });

            FourthAxis.onChange(function (value) {
                Pivot_HookBody.rotation.x = value * Math.PI / 180;
                // assignTransformations(Helper_LowerArmBody, ID_LowerArmBody);
                // assignTransformations(Pivot_LowerRodBody, ID_LowerRodBody);
                assignTransformations(Helper_HookBody, ID_HookBody);

                viewer.impl.sceneUpdated(true);
            });


            let setup_socket = function(){            
                socket.on( 'connect', function() {
                    socket.emit( 'my event', {
                        data: 'User Connected'
                    })
                })          

                // send
                $( '#method' ).on( 'submit', function( e ) {
                    e.preventDefault()
                    let data = JSON.parse($('textarea.data').val())
                    console.log("send: ", data)
                    socket.emit( 'method', data)   
                })

                // receive
                socket.on( 'log', function( msg ) {
                    msg = JSON.parse(msg)
                    //console.log("receive:",msg)
                    
                    if (msg["type"] == "joint"){
                        frame["frames"].push({
                            "joint": msg["message"],
                            "time": msg["time"]
                        })
                        //frame_maker(msg["time"], msg["message"])
                        //animate(msg.message)
                    }
                    
                })
            }

            function animate(joint){
                //requestAnimationFrame(animate);
                //joint 0
                Pivot_BaseRod.rotation.y = joint[0] * Math.PI / 180;
                assignTransformations(Helper_LowerArmBody, ID_LowerArmBody);
                assignTransformations(Helper_LowerRodBody, ID_LowerRodBody);
                assignTransformations(Helper_MiddleArmBody, ID_MiddleArmBody);
                assignTransformations(Helper_UpperRodBody, ID_UpperRodBody);
                assignTransformations(Helper_UpperArmBody, ID_UpperArmBody);
                assignTransformations(Helper_HookBody, ID_HookBody);

                // joint 1
                Pivot_LowerRodBody.rotation.z = joint[1] * Math.PI / 180;
                assignTransformations(Helper_MiddleArmBody, ID_MiddleArmBody);
                assignTransformations(Helper_UpperRodBody, ID_UpperRodBody);
                assignTransformations(Helper_UpperArmBody, ID_UpperArmBody);
                assignTransformations(Helper_HookBody, ID_HookBody);

                // joint 2
                Pivot_UpperRodBody.rotation.z = joint[2] * Math.PI / 180;
                // assignTransformations(Helper_LowerArmBody, ID_LowerArmBody);
                // assignTransformations(Pivot_LowerRodBody, ID_LowerRodBody);
                assignTransformations(Helper_UpperRodBody, ID_UpperRodBody);
                assignTransformations(Helper_UpperArmBody, ID_UpperArmBody);
                assignTransformations(Helper_HookBody, ID_HookBody);

                // joint 3
                Pivot_HookBody.rotation.x = joint[3] * Math.PI / 180;
                // assignTransformations(Helper_LowerArmBody, ID_LowerArmBody);
                // assignTransformations(Pivot_LowerRodBody, ID_LowerRodBody);
                assignTransformations(Helper_HookBody, ID_HookBody);

                // update
                viewer.impl.sceneUpdated(true);                

            }

            function frame_display(){
                // make sure it is not empty
                let l = frame["frames"].length
                if(l===0){
                    return -1
                }
                let time = +new Date / 1000
                time = time - frame["delay"]
                
                let joint = []
                
                // find the interval
                let i = -1
                while( i+1 < l && time >= frame["frames"][i+1]["time"]){
                    i = i+1
                }
                // interpolate
                if(i === -1){
                    return -1
                }else if( i === l-1){
                    joint = frame["frames"][l-1]["joint"]
                    frame["frames"][l-1]["time"] = time  
                }else{
                    for (let j = 0;  j < frame["frames"][i]["joint"].length  ; j++) {         
                        joint.push(
                        frame["frames"][i]["joint"][j] + (frame["frames"][i+1]["joint"][j]-frame["frames"][i]["joint"][j])*(time- frame["frames"][i]["time"])/(frame["frames"][i+1]["time"]- frame["frames"][i]["time"])
                        )
                    }
                }

                // remove old frames
                for (let k = 0; k < i ; k++) {
                    frame["frames"].shift()
                }

                // animate
                animate(joint)
                /*
                for (let i = 0; i < frame["frames"].length - 1; i++){

                    if(time >= frame["frames"][i]["time"] &&  time <frame["frames"][i+1]["time"]){
                        // interpolation
                        for (let j = 0;  j < frame["frames"][i]["joint"].length  ; j++) {
                          
                          joint.push(
                            frame["frames"][i]["joint"][j] + (frame["frames"][i+1]["joint"][j]-frame["frames"][i]["joint"][j])*(time- frame["frames"][i]["time"])/(frame["frames"][i+1]["time"]- frame["frames"][i]["time"])
                            )
                        }
                        // clean frame
                        for(let k = 0; k < i; k++){
                            frame["frames"].shift()
                        }
                        //animate
                        animate(joint)
                        break

                    }

                }
                */
            }

            setup_socket()
            var f_dsp = setInterval(frame_display, 1000/frame["fps"])
            //frame_animate()



        }

    </script>




</body>

</html>